/* Windows (editors and terminals). */
.window {
  margin: 2em auto;
  border: 1px solid;
  border-radius: 3px;
  font-size: 14px;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.02);
}

.window figcaption {
  display: -webkit-flex;
  display: flex;
  letter-spacing: 1px;
  border-bottom: 1px solid;
  padding-right: 66px;
  padding-left: 12px;
}

.chrome.button {
  display: inline-block;
  border-radius: 50%;
  min-width: 12px;
  height: 12px;
  margin: 12px 6px;
  margin-left: 0;
  background-color: #ccc;
}

.chrome.title {
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
  line-height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Editor. */
.editor {
  border-color: #ddd;
  color: #777;
  background-color: #fdfdfc;
}

.editor figcaption {
  background: #fafafa;
  border-bottom-color: inherit;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.document {
  position: relative;
  max-width: 37em;
  margin: auto;
  overflow: hidden;
  padding-bottom: 8em;
  background-color: #073642;
}

.offense {
  border-radius: 3px;
  display: inline-block;
  margin: 0 -0.125em;
  padding: 0 0.125em;
}

.issue-summary {
  color: #eee8d5;
  margin: 0.25em 0.5em;
}

.filename {
  padding: 0.25em;
}

.counts {
  display: inline-block;
  margin: 0 0.25em;
  background-color: #073642;
  border-radius: 3px;
}

.count {
  font-weight: bold;
  padding: 0 0.25em;
  display: inline-block;
}

.count:first-child {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.count:last-child {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.offense.error,
.count.error {
  background-color: #dc322f;
}

.offense.warn,
.count.warn {
  background-color: #b58900;
}

.draw,
textarea {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;

  /* Can’t use a nice font: kerning renders differently in textareas. */
  font-family: monospace;
  background: transparent;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: inherit;
  line-height: inherit;
}

.draw {
  min-height: 50vh;
  color: transparent;
}

textarea {
  position: absolute;
  top: 0;
  color: #fdf6e3;
}

.messages {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  color: #93a1a1;
  background-color: #002b36;
  max-height: 8em;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;

  /* See https://github.com/get-alex/alex/issues/187 */
  overflow: hidden;
}

.issues {
  margin: 0;
  padding: 0;
  max-height: 6em;
  overflow: scroll;
  border: 1px solid black;
}

.issues.empty {
  display: none;
}

.issue {
  white-space: nowrap;
  padding: 0.25em 0.5em;
  margin: 0;
  list-style: none;
}

.source {
  display: inline-block;
  width: 5em;
  text-align: right;
}

.line {
  padding: 0 0.25em;
}
