/*
/*
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/

body {
  font-family: Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.bd-title {
  margin-top: 1rem;
  margin-bottom: 1rem !important;
  font-size: 3rem;
}

.bg-dark {
  background-color: #1b1f23 !important;
}

.container-wide {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-nav {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
