/*
/*
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/
.my-3 {
    margin-bottom: 16px!important;
    margin-top: 16px!important;
}

.CircleBadge-icon {
    height: auto!important;
    max-height: 100%!important;
    max-width: 100%!important;
    background-color: #fff;
    /*background-color: #f8f9fa;*/
}
.CircleBadge--feature {
    position: relative;
    top: 0;
    transition: top .15s ease-in,box-shadow .12s ease-in;
}
.CircleBadge--medium {
    height: 96px;
    width: 96px;
}
.CircleBadge {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    /*box-shadow: 0 1px 5px rgba(27,31,35,.15);*/
    display: flex;
    justify-content: center;
}
.d-flex {
    display: flex!important;
}
.flex-justify-center {
    justify-content: center!important;
}
.flex-wrap {
    flex-wrap: wrap!important;
}
.apps-cluster .CircleBadge {
    margin: 16px;
}
@media (min-width: 1012px) {
  .apps-cluster .CircleBadge:nth-child(2n) {
      animation-duration: 6s;
      margin-top: 24px;
  }
}
@media (min-width: 1012px) {
  .apps-cluster .CircleBadge:nth-child(2n) {
      animation-duration: 6s;
      margin-top: 24px;
  }
}
@media (min-width: 1012px) {
  .apps-cluster .CircleBadge {
      position: relative;
  }
}
.apps-cluster .CircleBadge {
    margin: 16px;
}
@media (min-width: 1012px) {
  .apps-cluster .CircleBadge:nth-child(odd) {
      animation-delay: 1.5s;
      animation-direction: reverse;
      margin-top: -24px;
  }
}
@media (min-width: 1012px) {
  .apps-cluster .CircleBadge:nth-child(odd) {
      animation-delay: 1.5s;
      animation-direction: reverse;
      margin-top: -24px;
  }
}
@media (min-width: 1012px) {
  .apps-cluster .CircleBadge {
      position: relative;
  }
}
.apps-cluster .CircleBadge {
    margin: 16px;
}

.bg-dark {
  background-color: #24292e !important;
}

.bg-gray {
  background-color: #2b3137;
}

.entities {
    line-height: 2
}

.text-fade {
    color: #ced4da;
}

#col-lead {
  padding-top: 50%;
}

.no-border {
    border: none;
}

#editor {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%; }
.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

.showcase-card {
    height: 200px;
}

.bordered {
    border-top: 1px #e1e4e8 solid !important;
    border-bottom: 1px #e1e4e8 solid !important;
}

.light-text {
    color: #fff;
}

@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

#pointers {
    margin-top: 40px;
    margin-bottom: 40px;
}

#statement {
    transform: rotate(5deg);
}

#banner {
  margin-top: 100px;
}

.app-graph {
    width: 150%;
    position: absolute;
    right: 0;
    bottom: -40px;
}

.block-fill-height {
    display: table;
    width: 100%;
    height: 100vh;
}

.article {
  background-color: white;
  color: #333;
}

.bg-darkish {
  background-color: #333;
}

.scolled {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.bg-green-wall {
  background-color: #9ddb5e;
}

.bg-green p a,
.bg-green li a,
.bg-green a:hover,
.bg-green p a:link,
.bg-green nav.flex-md-column .nav-link.active {
    color: #9ddb5e;
}

.qs-input--radio:checked + .qs-label {
    color: #fff;
    border-color: #9ddb5e;
    background: #9ddb5e;
}

blockquote {
    padding-left: 1.2rem;
    border-left: .4rem solid rgba(0,0,0,.26);
    color: rgba(0,0,0,.54);
}

code[class*="language-"], pre[class*="language-"], .qs-code {
    background-color: rgba(0,0,0,.025);
    overflow: auto;
    padding: 1em;
    border-radius: 3px;
    line-height: 1.45;
    color: #333;
    text-shadow: none;
    font-size: 13px;
}

code[class*="hljs"] {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: none;
}
