/*
/*
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/

body {
  font-family: 'Inter', sans-serif;
  color: #506690 !important;
}

a.card {
    color: #506690;
}

.text-muted, .title-decorative {
    color: #869ab8!important;
}

.bg-black {
    background-color: #161c2d!important;
    color: rgba(134,154,184,.8)!important;
}

.bg-black h1, .bg-black h2, .bg-black h3, .bg-black h4, .bg-black h5 {
    color: white !important;
}

.scolled {
    box-shadow: 0 1px 1px rgba(0,0,0,.3);
}

.screenshot {
    border-radius: .625rem;
    box-shadow: 25px 60px 125px -25px rgba(80, 102, 144, .1), 16px 40px 75px -40px rgba(0, 0, 0, .2)
}

/* Tech stack gallery */

#col-lead {
  padding-top: 50%;
}
.gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%; }
.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

/* Vale Server client logos */

.CircleBadge-icon {
    height: auto!important;
    max-height: 100%;
    max-width: 100%;
    background-color: #161c2d;
    /*background-color: #f8f9fa;*/
}
.CircleBadge--feature {
    position: relative;
    top: 0;
    transition: top .15s ease-in,box-shadow .12s ease-in;
}
.CircleBadge--medium {
    height: 96px;
    width: 96px;
}
.CircleBadge {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    /*box-shadow: 0 1px 5px rgba(27,31,35,.15);*/
    display: flex;
    justify-content: center;
}
.apps-cluster .CircleBadge {
    margin: 16px;
}
.d-flex {
    display: flex!important;
}
.flex-justify-center {
    justify-content: center!important;
}
.flex-wrap {
    flex-wrap: wrap!important;
}
@media (min-width: 1012px) {
  .apps-cluster .CircleBadge:nth-child(2n) {
      animation-duration: 6s;
      margin-top: 24px;
  }
}
@media (min-width: 1012px) {
  .apps-cluster .CircleBadge:nth-child(2n) {
      animation-duration: 6s;
      margin-top: 24px;
  }
}
@media (min-width: 1012px) {
  .apps-cluster .CircleBadge {
      position: relative;
  }
}
.apps-cluster .CircleBadge {
    margin: 16px;
}
@media (min-width: 1012px) {
  .apps-cluster .CircleBadge:nth-child(odd) {
      animation-delay: 1.5s;
      animation-direction: reverse;
      margin-top: -24px;
  }
}
@media (min-width: 1012px) {
  .apps-cluster .CircleBadge:nth-child(odd) {
      animation-delay: 1.5s;
      animation-direction: reverse;
      margin-top: -24px;
  }
}
@media (min-width: 1012px) {
  .apps-cluster .CircleBadge {
      position: relative;
  }
}
.apps-cluster .CircleBadge {
    margin: 16px;
}

/* Skewed images */

.img-skewed {
    -webkit-perspective: 1500px;
    perspective: 1500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.img-skewed-left {
    -webkit-perspective-origin: left center;
    perspective-origin: left center
}

.img-skewed-left .img-skewed-item {
    -webkit-transform: rotateY(-35deg) rotateX(15deg);
    transform: rotateY(-35deg) rotateX(15deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.img-skewed-right {
    -webkit-perspective-origin: right center;
    perspective-origin: right center
}

.img-skewed-right .img-skewed-item {
    -webkit-transform: rotateY(35deg) rotateX(15deg);
    transform: rotateY(35deg) rotateX(15deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

/* Timeline */

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #161c2d;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
