#editor {
  max-height: 300px;
}

#alerts {
  max-height: 300px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

.inner {
  height:300px;
  padding-right:0;
  padding-left: 0;
  background-color: #f6f8fa;
}
