<!DOCTYPE html>
<html lang="en">
    {{ partial "head" . }}
    <body>
        {{ partial "header" . }}

        <div class="main-container">
            {{ block "main" . }}{{ end }}
        </div>

        {{ partial "footer" . }}

        <!-- Required vendor scripts (Do not remove) -->
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/popper.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>

        <!-- Optional Vendor Scripts (Remove the plugin script here and comment initializer script out of index.js if site does not use that feature) -->

        <!-- AOS (Animate On Scroll - animates elements into view while scrolling down) -->
        <script type="text/javascript" src="/js/aos.js"></script>
        <!-- Flatpickr (calendar/date/time picker UI) -->
        <script type="text/javascript" src="/js/flatpickr.min.js"></script>
        <!-- Flickity (handles touch enabled carousels and sliders) -->
        <script type="text/javascript" src="/js/flickity.pkgd.min.js"></script>
        <!-- jarallax (parallax effect and video backgrounds) -->
        <!-- <script type="text/javascript" src="/js/jarallax.min.js"></script> -->
        <!-- <script type="text/javascript" src="/js/jarallax-video.min.js"></script> -->
        <!-- <script type="text/javascript" src="/js/jarallax-element.min.js"></script> -->
        <!-- ScrollMonitor (manages events for elements scrolling in and out of view) -->
        <script type="text/javascript" src="/js/scrollMonitor.js"></script>
        <!-- jQuery smartWizard facilitates steppable wizard content -->
        <script type="text/javascript" src="/js/jquery.smartWizard.min.js"></script>
        <!-- Smooth scroll (animation to links in-page)-->
        <script type="text/javascript" src="/js/smooth-scroll.polyfills.min.js"></script>
        <!-- Prism (displays formatted code boxes) -->
        <script type="text/javascript" src="/js/prism.js"></script>
        <script type="text/javascript" src="/js/zoom.min.js"></script>

        <!-- Required theme scripts (Do not remove) -->
        <script type="text/javascript" src="/js/theme.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js" integrity="sha256-sPB0F50YUDK0otDnsfNHawYmA5M0pjjUf4TvRJkGFrI=" crossorigin="anonymous"></script>

        {{- range .Params.js }}
          <script src="/js/{{ . }}"></script>
        {{- end }}

        {{ block "script" . }}{{ end }}

        <script type="text/javascript">
          $(function () {
            $('[data-toggle="popover"]').popover()
          })
          $('.popover-dismiss').popover({
            trigger: 'focus'
          })
        </script>
    </body>
</html>
