<div class="nav-container">
  <div class="bg-white navbar-light" data-sticky="top" id="main-nav">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">
          <img alt="errata.ai" src="/img/logo.png" class="logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="icon-menu h4"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-between navbar-right" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="/software/" class="nav-link">Software</a>
            </li>
            <li class="nav-item">
              <a href="/blog/" class="nav-link">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/errata-ai">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>

        </div>
        <!--end nav collapse-->
      </nav>
    </div>
    <!--end of container-->
  </div>
</div>
<div class="main-container"></div>
