{{ define "main" }}

<section class="bg-white space-lg">
  <img alt="Image" src="/img/backgrounds/graphic-bg-clouds-1.png" class="bg-image" />
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9 col-lg-8 text-center">
        <h1 class="display-4">Innovative tools for collaborative writing</h1>
        <span class="lead">
            At <b>errata.ai</b>, we develop software to help writers maintain
            on-brand, consistent, and mistake-free content using modern
            <i>docs-as-code</i> principles.
        </span>
        <a href="#projects" class="btn btn-success btn-lg">Explore our projects &rsaquo;</a>
      </div>
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <div class="col-12 col-md-6 col-lg-5 text-center text-md-left section-intro">
        <span class="title-decorative">A modern stack</span>
        <h3 class="h1">Docs &#43; Code</h3>
        <span class="lead">
          All of our products are designed to fit into
          existing docs-as-code workflows.
        </span>
      </div>
      <div class="col-8 col-md-6 col-lg-4">
        <div class="gallery" id="gallery">
          <div class="mb-3 pics animation all 2">
            <img
              class="img-fluid w-100"
              src="/img/logos/Appveyor.png"
              alt="Appveyor logo"
            />
          </div>
          <div class="mb-3 pics animation all 1">
            <img
              class="img-fluid w-100"
              src="/img/logos/travis.png"
              alt="Travis CI logo"
            />
          </div>
          <div class="mb-3 pics animation all 2">
            <img
              class="img-fluid w-100"
              src="/img/logos/mdown.png"
              alt="Markdown logo"
            />
          </div>
          <div class="mb-3 pics animation all 1">
            <img
              id="col-lead"
              class="img-fluid w-100"
              src="/img/logos/git.png"
              alt="Git logo"
            />
          </div>
          <div class="mb-3 pics animation all 2">
            <img
              class="img-fluid w-100"
              src="/img/logos/netlify.png"
              alt="Netlify logo"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white flush-with-above">
    <div class="container">
        <div class="row justify-content-around align-items-center">
            <div class="col-12 col-md-5 order-md-2 mb-5 mb-md-0">
                <span class="title-decorative">we &hearts; OSS</span>
                <h5 class="h1">Open Source</h5>
                <p class="lead">
                    All of our products are built on top of an open-source
                    core.
                </p>
            </div>
            <div class="col-12 col-md-6 order-md-1">
                <img alt="Image" src="/img/screenshots/github-org.png" class="img-fluid box-shadow" />
            </div>
        </div>
    </div>
</section>

<section class="bg-white">
  <div class="container">
    <div class="row justify-content-center text-center section-intro">
      <div class="col-12 col-md-9 col-lg-8">
        <span class="title-decorative" data-aos="fade-up" data-aos-delay="10">See how our software is being used</span>
        <h2 class="display-5" data-aos="fade-up" data-aos-delay="100">Trusted by industry professionals around the globe</h2>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        <div class="card">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4CQsrjoEWYY"></iframe>
          </div>
          <div class="card-footer text-muted">
            Learn about how <a href="https://pronovix.com/blog/how-improve-docops-using-cicd-and-docs-code"><b>Pronovix</b> uses Vale</a> in a CI/CD workflow
            to help manage their documentation.
          </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
          <a href="https://www.linode.com/blog/linode/docs-as-code-at-linode/">
              <img class="card-img-top" src="/img/screenshots/linode.png" alt="Linode's blog post banner image" />
          </a>
          <div class="card-body">
            <p class="card-text text-muted">
                Read about how <a href="https://www.linode.com/blog/linode/docs-as-code-at-linode/"><b>Linode</b> uses Vale</a> to help maintain their library
                of over 1,400 guides and tutorials.
            </p>
          </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
              <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sWaHa_wQv3M"></iframe>
          </div>
          <div class="card-footer text-muted">
            Learn about how <a href="https://our.umbraco.com/documentation/Contribute/Style-Guide/"><b>Umbraco</b> uses Vale</a>
            to help maintain their GitHub-hosted content.
          </div>
        </div>
    </div>
    </div>
  </div>
</section>

<section id="projects" class="bg-white">
  <div class="container">
    <div class="row justify-content-center text-center section-intro">
      <div class="col-12 col-md-9 col-lg-8">
        <span class="title-decorative" data-aos="fade-up" data-aos-delay="10">What we do</span>
        <h2 class="display-5" data-aos="fade-up" data-aos-delay="100">Your content, our tools</h2>
        <span class="lead" data-aos="fade-up" data-aos-delay="200">
            We build tools of all kinds&mdash;be it desktop apps, CLIs, or websites&mdash;to help you create and maintain better content.
        </span>
      </div>
    </div>

    <ul class="row feature-list feature-list-sm">
      <li class="col-12 col-md-4">
        <a href="vale-server" class="card">
          <img alt="An image of Vale Server's homepage" src="/img/screenshots/vale-server.png" class="img-fluid rounded img-thumbnail"/>
        </a>
        <h5>Vale Server</h5>
        <p>A cross-platform desktop application that brings your editorial style guide to life.</p>
        <a href="vale-server">Learn more &rsaquo;</a>
      </li>
      <!--end of col-->
      <li class="col-12 col-md-4">
        <a href="pages-app.html" class="card">
          <img
            alt="An image of Static School's homepage"
            src="/img/screenshots/static-school.png"
            class="img-fluid rounded"
          />
        </a>
        <h5>Static School</h5>
        <p>Discover, explore, and compare static site generators and related Jamstack software.</p>
        <a href="pages-app.html">Learn more &rsaquo;</a>
      </li>
      <!--end of col-->
      <li class="col-12 col-md-4">
        <a href="pages-inner.html" class="card">
          <img
            alt="An image of Vale running in Terminal"
            src="/img/screenshots/vale.png"
            class="img-fluid rounded"
          />
        </a>
        <h5>Vale</h5>
        <p>A syntax-aware, command-line linter for prose built with speed and extensibility in mind.</p>
        <a href="pages-inner.html">Learn more &rsaquo;</a>
      </li>
      <!--end of col-->
    </ul>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

{{ end }}
