{{ define "main" }}

<section class="bg-white">
    <div class="container">
        <img alt="Image" src="/img/graphic-bg-clouds-5.png" class="bg-image" />
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6 col-lg-8 order-md-1">
                <h1 class="display-5">Workflow and QA automation for collaborative writing.</h1>
                <span class="lead">
          We specialize in
          <span id="heading"></span>
                </span>
                <a href="/services/" class="btn btn-success btn-lg">Get started now</a>
            </div>
        </div>
    </div>
</section>

<section class="bg-white pt-0">
    <div class="container">
        <div class="row justify-content-around align-items-center">
            <div class="col-12 col-md-6 col-lg-5 text-center text-md-left section-intro">
                <span class="title-decorative">Custom Solutions</span>
                <h3 class="h1">Docs &#43; Code</h3>
                <span class="lead">
                                We&#39;ll craft solutions that meet <i>your</i> content and workflow needs.
                            </span>
                <a href="/services/">See how we can help &rsaquo;</a>
            </div>
            <!--end of col-->
            <div class="col-8 col-md-6 col-lg-4">
                <div class="gallery" id="gallery">
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid w-100 box-shadow" src="/img/Appveyor.png" alt="Appveyor logo">
                    </div>
                    <div class="mb-3 pics animation all 1">
                        <img class="img-fluid w-100 box-shadow" src="/img/travis.png" alt="Travis CI logo">
                    </div>
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid w-100 box-shadow" src="/img/mdown.png" alt="Markdown logo">
                    </div>
                    <div class="mb-3 pics animation all 1">
                        <img id="col-lead" class="img-fluid w-100 box-shadow" src="/img/git.png" alt="Git logo">
                    </div>
                    <div class="mb-3 pics animation all 2">
                        <img class="img-fluid w-100 box-shadow" src="/img/netlify.png" alt="Netlify logo">
                    </div>
                </div>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!--end of section-->
<section class="bg-white flush-with-above pb-0">
    <div class="container">
        <div class="row justify-content-around align-items-center">
            <div class="col-12 col-md-5 order-md-2 mb-5 mb-md-0">
                <span class="title-decorative">Open-source software</span>
                <h5 class="h1">Authoring, reimagined</h5>
                <p class="lead">
                    We build tools that change the way you write, edit, and publish content.
                </p>
                <a href="https://github.com/errata-ai">Explore our projects &rsaquo;</a>
            </div>
            <!--end of col-->
            <div class="col-12 col-md-6 order-md-1">
                <img alt="Image" src="/img/frame-safari-mac.png" class="img-fluid box-shadow" />
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{{ end }}
